.cart__item__container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     background-color: whitesmoke;
     border: .1rem solid rgb(0, 191, 214);
     margin: .5rem;
     padding: .5rem;
}

.cart__item__cover {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: .5rem;
     padding: .5rem;
}

.cart__item__title {
     background-color: gainsboro;
     width: 100%;
}

.cart__item__info {
     /* display: flex;
     flex-direction: row; */
     align-items: center;
     background-color: whitesmoke;
     /* border-right: .1rem solid rgb(0, 191, 214); */
     border-left: .1rem solid rgb(0, 191, 214);
     margin: .5rem;
     padding: .5rem;
}

.cart__item__cart {
     width: 100%;
}

.cart__btn__back {
     /* margin: .5rem;
     border-radius: 5%;
     width: 20%;
     background-color: rgb(120, 191, 214); */
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
}

.cart__link__back {
     text-decoration: none;
     color: black;
}

.cart__btn__empty {
     /* margin: .5rem;
     border-radius: 5%;
     width: 20%;
     background-color: rgb(255, 0, 0); */
     color: black;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
}

.cart__btn__buy {
     /* margin: .5rem;
     border-radius: 5%;
     width: 20%;
     background-color: rgb(0, 172, 14); */
     color: black;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
}

.cart__btn__buy:hover {
     color: black;
}