.counter {
     position: absolute;
     top: -1vh;
     right: -1.5vw;
     background-color: rgb(250, 250, 250);
     color: rgb(200, 0, 60);
     font-weight: bold;
     border-radius: 50%;
     width: 2vw;
     height: 2vw;
     display: flex;
     justify-content: center;
     align-items: center;
}