.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  background: rgb(200, 0, 60);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu__titulo {
  width: 40vw;
}

.menu__logo {
  width: 15vw;
  height: 15vw;
}

.menu__btn {
  list-style: none;
  width: 25vw;
  margin: .75vw;
  padding: .75vw;
  border: .2rem solid rgb(0, 200, 200);
  text-align: center;
  color: rgb(20, 20, 20);
  font-weight: bold;
  font-style: italic;
}
