.container {
     text-align: center;
     /* border: .2rem solid gray; */
}

.name {
     color: black;
}

.controls {
     /* border: .1rem solid gray; */
     color: black;
     font-weight: bolder;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin-top: .5rem;
     margin-bottom: .5rem;
}

.controls__btn {
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
     border: .1rem solid;
     margin-left: 1rem;
     margin-right: 1rem;
     background-color: lightgray;
     color: black;
     font-weight: bolder;
}

.add {
     margin: .5rem;
     border-radius: 5%;
     width: 20%;
     background-color: rgb(0, 172, 14);
     color: black;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
}

.back {
     margin: .5rem;
     border-radius: 5%;
     width: 20%;
     background-color: rgb(120, 191, 214);
     color: black;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
}

.link__back {
     text-decoration: none;
     color: black;
}

.link__back:hover {
     color: black;
}